* {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/3255349/pexels-photo-3255349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    font-family: Cambria, Cochi;
    font-weight: bold;
    color: white;
}

h1 {
    background: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

p {
    background: none;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: brown;
}

#save-btn {
    background: rgba(0, 0, 255, 0.81);
}

#sum-btn {
    background: wheat;
    color: black;
}





/*
* {
    text-align: center;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
p {
    background: none;
    font-size: medium;
}

#purchase-btn {
    background: rgba(0, 0, 255, 0.638);
}
#error {
    color: red;
    font-size: small;
}
*/